<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE launch>
<launch>
  <!-- param -->
  <rosparam file="$(find t3_controller)/launch/t3_config.yaml" />
  <!-- cam -->
  <include file="$(find usb_cam)/launch/usb_cam-noviewer.launch"/>
  <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch"/>
  <!-- processor -->
  <node name="controller" pkg="t3_controller" type="t3_controller" output="screen"/>
  <node name="t3_pcl" pkg="t3_pcl" type="t3_pcl" output="screen"/>
  <node name="object" pkg="t3_sensor_object" type="t3_sensor_object.py" output="screen"/>
  
</launch>
